

<div class="container">
    <div class="row justify-content-center">Angular 9 with firebase with curd app</div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="employeeName" type="text" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="employeeFatherName" type="text" placeholder="Enter Father Name">
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="Company" type="text" placeholder="Enter Company">
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="employeeAge" type="number" placeholder="Enter Age">
    </div>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="employeeAddress" type="text" placeholder="Enter Address">
    </div>
    <div class="form-group">
     <button type="button" (click)="setValue();"  [disabled]="!employeeName || !employeeAge || !employeeAddress"> Create Employee</button>
    </div>
    <div class="form-group">
          <h3>{{message}}</h3>
         
    </div>
   
  </div>
  
  <div class="container">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Name</th>
          <th>Father Name</th>
          <th>Company</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employee">
          <td>{{item.Name}}</td>
          <td>{{item.Father}}</td>
          <td>{{item.Company}}</td>
          <td>{{item.Age}}</td>
          <td>{{item.Address}}</td>
          <td>
            <button type="button" (click)="editData(item)"  class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="outline: none;">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteData(item)" style="outline: none;">Delete</button>
            <button type="button" routerLink="" (click)="showData(item)"  class="btn style " data-toggle="modal"  style="outline: none;">Detail</button>
           
           
          </td>
         
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <div class="modal" id="myModal">
    <div class="modal-dialog ">
      <div class="modal-content">
        
        <div class="modal-header">
          <h4 class="modal-title">Edit Table</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
       
        <div class="modal-body" >
          
          <div class="form-group" >
            <input class="form-control" [(ngModel)]="editName" type="text" placeholder="Enter">
          </div>
          <div class="form-group" >
            <input class="form-control" [(ngModel)]="editFather" type="text" placeholder="Enter">
          </div>
          <div class="form-group" >
            <input class="form-control" [(ngModel)]="editCompany" type="text" placeholder="Enter">
          </div>
          <div class="form-group" >
            <input class="form-control" [(ngModel)]="editAge"  type="number" placeholder="Enter Age">
          </div>
          <div class="form-group" >
            <input class="form-control" [(ngModel)]="editAddress" type="text" placeholder="Enter Address">
          </div>
          <div class="form-group" >
            <button type="button"  class="btn-btn-secondary" (click)="updateData()" style="outline: none;">Update</button>
           </div>
        </div>
      </div>
    </div>
  </div>
  

  
       
       
