
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <div class="card-title text-center">User Detail</div>
            </div>
            <div class="card-body">
              <div class="">
                  <ul>
                      <li>ID:{{Id}}</li>
                      <li>Name:{{singleValue.Name}}</li>
                      <li>Father  :{{singleValue.Father}}</li>
                      <li>Company :{{singleValue.Company}}</li>
                      <li>Age     :{{singleValue.Age}}</li>
                      <li>Address :{{singleValue.Address}}</li>
                    
                  </ul>
                
                
                
                
                
              </div>
                
            </div>
        </div>
    </div>
    <div class="col" style="margin-right:0">
    <button (click)="route()" routerLinkActive="router-link-active"   class="btn btn-primary" style="outline: none;">Back</button>
    </div>
</div>